<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="col-sm-12">
            <label for="nome" class="form-label">Nome</label>
        </div>
        <div class="col-sm-12">
            <input type="nome" class="form-control" id="nome" name="nome" formControlName="nome">
        </div>
        <div class="col-sm-12">
            <small *ngIf="!fieldIsValid('nome')"> Este campo é obrigatório</small>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
        </div>
        <div class="col-sm-12">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
                placeholder="Enter a valid email address" formControlName="email">
        </div>
        <small *ngIf="!fieldIsValid('email')" id="emailHelp" class="form-text">Email inválido!</small>
        <small *ngIf="formulario.get('email')!.status === 'PENDING'" id="emailHelp" class="form-text">Validando email!</small>
        <small *ngIf="formulario.get('email')!.hasError('emailInvalido')" id="emailHelp" class="form-text">Email já cadastrado!</small>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <label for="inputConfirmEmail" class="form-label">Confirm email</label>
        </div>
        <div class="col-sm-12">
            <input type="email" class="form-control" id="inputConfirmEmail" aria-describedby="confirmEmailHelp"
            title="Confirm your email" placeholder="Retype your email" formControlName="confirmEmail">
        </div>
        <small *ngIf="formulario.get('confirmEmail')!.hasError('equalsTo')" id="confirmEmailHelp" class="form-text">Email diferente, tente novamente!</small>
    </div>

    <div formGroupName="endereco">
        <div class="form-group row">
            <div class="col-sm-3">
                <label for="cep" class="form-label">CEP</label>
                <input type="text" id="cep" formControlName="cep" class="form-control">
                <small *ngIf="!fieldIsValid('cep')">CEP é obrigatório</small><br>
                <small *ngIf="formulario.get('endereco.cep')!.hasError('cepInvalido')">CEP inválido</small>
            </div>
            <div class="col-sm-3">
                <label for="numero" class="form-label">Número</label>
                <input type="text" id="numero" formControlName="numero" class="form-control">
                <error-msg field="numero" [control]="formulario.get('endereco.numero')!"></error-msg>
            </div>
            <div class="col-sm-6">
                <label for="complemento" class="form-label">Complemento</label>
                <input type="text" id="complemento" formControlName="complemento" class="form-control">
            </div>
        </div>
    
        <div class="form-group">
            <div class="col-sm-12">
                <label for="rua" class="form-label">Rua</label>
            </div>
            <div class="col-sm-12">
                <input type="rua" class="form-control" id="rua" formControlName="rua">
            </div>
            <div class="col-sm-12">
                <small *ngIf="!fieldIsValid('rua')">Este campo é obrigatório</small>
            </div>
        </div>
    
        <div class="form-group row">
            <div class="col-sm-5">
                <label for="bairro" class="form-label">Bairro</label>
                <input type="text" id="bairro" formControlName="bairro" class="form-control">
                <!-- <error-msg field="bairro" [control]="formulario.get(['endereco', 'bairro'])!"></error-msg> -->
            </div>
            <div class="col-sm-4">
                <label for="cidade" class="form-label">Cidade</label>
                <input type="text" id="cidade" formControlName="cidade" class="form-control" readonly>
                <small *ngIf="!fieldIsValid('cidade')">Cidade é obrigatório</small>
            </div>
            <div class="col-sm-3">
                <label for="estado" class="form-label">Estado</label>
                <select id="estado" formControlName="estado" class="form-control">
                    <option *ngFor="let estado of estados | async" [value]="estado.sigla"> {{ estado.nome }}</option>
                </select>
                <small *ngIf="!fieldIsValid('estado')">Estado é obrigatório</small>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4">
            <label for="cargo" class="form-label">Cargo</label>
            <select id="cargo" formControlName="cargo" class="form-control" [compareWith]="compararCargos">
                <option *ngFor="let cargo of cargos" [ngValue]="cargo"> {{ cargo.desc }}</option>
            </select>
        </div>
        <div class="col-sm-4">
            <label for="tecnologia" class="form-label">Tecnologia</label>
            <select multiple id="tecnologia" formControlName="tecnologias" class="form-control">
                <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome"> {{ tecnologia.desc }}</option>
            </select>
        </div>
        <div class="col-sm-4">
            <label for="newsletter" class="control-label">Newsletter</label>
            <div id="Newsletter" class="row">
                <div *ngFor="let item of newsletter" class="col-sm-4">
                    <label class="radio-inline">
                        <input type="radio" [value]="item.valor" formControlName="newsletter"> {{ item.desc }}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="flexCheck" formControlName="termos">
            <label for="flexCheck" class="form-check-label">Eu aceito os termos</label>
        </div>
        <small *ngIf="!fieldIsValid('termos')" class="form-text">Você deve aceitar os termos antes de prosseguir.</small>

    </div>
    
    <div class="form-group">
        <label for="frameworks">Frameworks</label>
        <div id="frameworks" formArrayName="frameworks" class="form-check" *ngFor="let item of buildFrameworks().controls let i = index">
            <label for="flexCheck" class="form-check-label">
                <input type="checkbox" class="form-check-input" [formControlName]="i"> {{ frameworks[i] }}
            </label>
        </div>
        <small *ngIf="!formulario.get('frameworks')!.valid" class="form-text">Escolha ao menos uma opção.</small>

    </div>

    <button class="btn btn-info" (click)="setCargo()">Cargo</button>
    <button class="btn btn-info" (click)="setTecnologias()">Tecnologias</button>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button class="btn btn-primary" (click)="resetar()">Cancelar</button>
</form>

<app-form-debug [reactiveForm]="formulario"></app-form-debug>